$paynes-gray: #545e75ff;
$argentinian-blue: #63adf2ff;
$uranian-blue: #a7ccedff;
$yinmn-blue: #304d6dff;
$air-superiority-blue: #82a0bcff;

$font__first: "Orbitron", sans-serif; 
$font__second: "Anta", sans-serif; 

$tool: 1px solid black; 
$tool__Large: 5px solid red; 

$page-width: 8.27in; 
$page-height: 11.69in; 

$pad__Left: 15px; 